*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#wrapper_home{
    display: grid;
    grid-template-rows: .1fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#logo1{
    grid-row: 1/2;
    grid-column: 2/3;
    height: 75px;
    width: 75px;
}
.nav{
    grid-row: 1/2;
    grid-column: 3/7;
}
#sign_up_nav{
    grid-row: 1/2;
    grid-column: 7/8;
}
#indexPageWrapper{
    display: grid;
    grid-template-rows: 1fr .15fr .01fr .5fr 1.6fr .1fr .4fr 1.3fr .35fr .2fr .35fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#workoutphoto{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image: url("images/personal_trainer_auto_x2_new2.jpg");
    background-size: cover;
    /*height: 600px;*/
    /*width: auto;*/
    background-repeat: no-repeat;
}
#white_background_why{
    grid-row: 2/5;
    grid-column: 1/-1;
    /*background-color: #FAF9F6; */
    background-color: #f8f8ff;
}
#why_header{
    grid-row: 2/3;
    grid-column: 2/8;
    text-align: center;
    padding-top: 30px;
}
#yellow_underline{
    grid-row: 3/4;
    grid-column: 3/7;
    background-color: #FFBF00;
}
#why_us{
    grid-row: 4/5;
    grid-column: 2/8;
    margin-top: 30px;
    margin-bottom: 30px;
}
#perk_header{
    grid-row: 5/6;
    grid-column: 3/7;
    color: white;
    text-align: center;
    margin-top: 40px;
}
#top_left_perk_picture{
    grid-row: 5/6;
    grid-column: 2/4;
}
#top_center_perk_content{
    grid-row: 5/6;
    grid-column: 4/6;
}
#top_right_perk_picture{
    grid-row: 5/6;
    grid-column: 6/8;
}
#bottom_left_perk_content{
    grid-row: 5/6;
    grid-column: 2/4;
}
#bottom_right_perk_content{
    grid-row: 5/6;
    grid-column: 6/8;
}
#bottom_perk_picture{
    grid-row: 5/6;
    grid-column: 4/6;
}
#white_background_about{
    grid-row: 6/9;
    grid-column: 1/-1;
    background-color: white;
}
#transformations{
    grid-row: 6/7;
    grid-column: 3/7;
    padding-top: 30px;
}
#transformations_pics{
    grid-row: 7/8;
    grid-column: 2/5;
    padding-top: 30px;
    display:block;
}
#transformations_messages{
    grid-row: 7/8;
    grid-column: 5/8;
    padding-top: 30px;
    display:block;
}
#index_about_content{
    grid-row: 8/9;
    grid-column: 3/7;
    text-align: center;
    margin-top: 30px;
}
#index_about_photo{
    margin-top: 95px;
    grid-row: 8/9;
    grid-column: 3/7;
    background-image: url("images/about_index_auto_x2\ copy.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}
#index_about_button{
    grid-row: 8/9;
    grid-column: 4/6;
    margin-top: 670px;
    text-align: center;
}
#opt_in{
    grid-row: 9/10;
    grid-column: 2/8;
    color: white;
    margin-top: 20px;
}
#social_section{
    grid-row: 10/11;
    grid-column: 2/8;
    margin-top: 20px;
}
#footer_home_page{
    grid-row: 11/12;
    grid-column: 1/-1;
    background-color: black;
}

/* END OF PLACING ITEMS ON GRID*/

body{
    font-family: Verdana, Arial, sans-serif;
}

/* NAVIGATION */

.nav{
    padding-top: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin: 0;
}
nav ul li{
    text-align: center;
    width: 100%;
}
nav a{
    color: white;
    text-decoration: none;
    display:block;
    text-align: center;  
}
a:hover{
    color: #FFBF00;
}
.nav_padding{
    padding-top: 20px;
}
#sign_up_nav a{
    margin-top: 10px;
    font-size: large;
    color: rgb(24, 24, 24);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 14px 32px;
    border: none;
    background-color: #FFBF00;
    color: white;
    text-decoration: none;
    border: 2px solid #FFBF00;
    border-radius: 5px;
}
#sign_up_nav a:hover{
    opacity: .8;
}

/* WORKOUT PHOTO > JOURNEY SECTION */

#journey{
    text-align: left;
    margin-left: 20px;
    margin-top: 200px;
    color: white;
}

.journey_button a{
    margin-top: 20px;
    font-size: large;
    color: rgb(24, 24, 24);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    background-color: #FFBF00;
    color: white;
    text-decoration: none;
}

.shred_logged_in_button{
    margin-top: 20px;
    font-size: large;
    color: rgb(24, 24, 24);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    background-color: #FFBF00;
    color: white;
    text-decoration: none;
}

.shred_logged_in_button:hover{
    padding: 20px 40px;
    cursor: pointer;
}
/* MAKES BUTTON BIGGER WHEN HOVERED ON */

.journey_button a:hover{
    padding: 20px 40px;  
}

/* WHY US SECTION */

#why_header h1{
    font-size: 50px;
}
#why_us p{
    line-height: 200%;
}

/* PERK_CONTENT */

#bottom_perk_picture_spacing{
    padding-top: 540px;    
}
#perk_header h1{
    font-size: 50px;
}
.top_perk_spacing{
    margin-top: 200px;
}
.bottom_perk_spacing{
    margin-top: 600px;
}
.perk_buttons a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 40px;
    margin-right: 20px;
    display:block;
    text-align: center; 
}
.perk_buttons h1{
    font-size: 70px;
}
.perk_buttons h2{
    font-size: 53px;
}
.perk_buttons a ul {
    list-style: none;
    display: inline-block;
}
.perk_buttons li{
    font-size: large;
    text-align: center;
}
.more_info_perks{
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: large;
    color: rgb(24, 24, 24);
    text-align: center;
    text-decoration: none;
    padding: 16px 32px;
    border: none;
    background-color: #FFBF00;
}
.perk_buttons a:hover{
    /*background-color: rgb(37, 37, 37);*/
    opacity: .7;
    color: #FFBF00;
}
.hover_saver{
    color: white;
}
.mirror_size{
    height: 385px;
    width: 330px;
}
#deadlift_size{
    height: 385px;
    width: 330px;
}
/* TRANSFORMATIONS SECTION */

.transformation_flex{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}
#transformations h1 {
    text-align: center;
    font-size: 50px;
    padding-bottom: 20px;
}
.border_transformation{
    color: white;
    background-color: rgb(24, 24, 24);
    border: black solid;
    text-align: center;
}
.slideshow-container1 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  .slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides1 {
    display: none;
  }
  .mySlides2 {
    display: none;
  }
  /* Next & previous buttons */
  .prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next1 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text1 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .text2 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext1 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .numbertext2 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } 
  /* Fading animation */
  .fade1 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .fade2 {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade1 {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade2 {
    from {opacity: .4}
    to {opacity: 1}
  }
.index_slide_size{
    height: 400px;
}
/* INDEX / ABOUT CONTENT / PHOTO */

.about_padding{
    padding-top: 450px;
}
#index_about_button a{
    margin-top: 20px;
    font-size: large;
    color: rgb(24, 24, 24);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border: none;
    background-color: #FFBF00;
}
#index_about_content h1{
    font-size: 40px;
}
#index_about_button a:hover{
    padding: 20px 40px;  
}
#index_about_content p{
    line-height: 150%;
}

/* OPT_IN */

#Email_opt{
    border-radius: 5px;
    width: 350px;
}
#mySubmit_opt{
    border-radius: 5px;
    background-color: #FFBF00;
    width: 100px;
    cursor: pointer;
}
#mySubmit_opt:hover{
    opacity: .7;
}

/* FOLLOW SECTION */

#social_section h1{
    color: white;

}
#social_section a{
    text-decoration: none;
    margin-right: 30px;
}

/* FOOTER SECTION */

footer #footer_logo{
    height: 100px;
    margin-right: 10px;
}

footer h1{
    color: white;
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}
.logo_footer_align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
}
.nav2{
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p{
    color: white;
    padding-top: 10px;
    text-align: center;
}

/* CLASSES */

.black{
    color: rgb(24, 24, 24);
}
.yellow{
    color: #FFBF00;
}
.white{
    color: white;
}
.border{
    padding: 10px;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    border: 1px rgb(24, 24, 24) solid;
}
.hr_yellow{
    border: 1px solid #FFBF00;
}


/* NEW PAGE STARTING */
/* ABOUT PAGE STARTING */

/* #wrapper_about{
    display: grid;
    grid-template-rows: .1fr .1fr .5fr .5fr .4fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
} */
#aboutWrapper{
    display: grid;
    grid-template-rows: .1fr .5fr .5fr .4fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#white_background_about_page{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: white;
}

#hero_about_content{
    grid-row: 1/2;
    grid-column: 2/8;
    text-align: center;
    margin-bottom: 30px;
}
#about_main_content{
    grid-row: 2/3;
    grid-column: 2/5;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}
#about_main_image{
    grid-row: 2/3;
    grid-column: 5/8;
}
#about_why_white_background{
    grid-row: 3/4;
    grid-column: 1/-1;
    background-color: white;
}
#about_why_image{
    grid-row: 3/4;
    grid-column: 2/5;
}
#about_why_content{
    grid-row: 3/4;
    grid-column: 5/8;
    padding-top: 30px;
    
}

#footer_about_page{
    grid-row: 4/5;
    grid-column: 1/-1;
    background-color: black;
}

/* HERO ABOUT CONTENT */

#hero_about_content h1{
    font-size: 50px;
    padding-top: 30px;
}

/* ABOUT MAIN CONTENT */

#about_main_content p{
    line-height: 175%;
    padding-right: 20px;
}

/* ABOUT WHY CONTENT */
#about_why_content p{ 
    line-height: 150%;
}

#about_training_content h2{
    line-height: 150%;
}
#about_christian{
    height: 450px; 
    padding-left: 100px;
}
#why_train_photo{
    height: 390px;
    padding-left: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: rgb(24, 24, 24);
    background-color: #fafafa;
    border: solid;
}
/* NEW PAGE STARTING */
/* CONTACT PAGE STARTING */

#wrapperContact{
    display: grid;
    grid-template-rows: 1fr .2fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#hero_contact{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image: url("images/workout.jpg");
    height: 810px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
#hero_contact_content{
    grid-row: 1/2;
    grid-column: 2/8;
}
#form_border{
    grid-row: 1/2;
    grid-column: 3/7;
    margin-top: 200px;
    color: white;
    background-color: rgb(24, 24, 24);
    border: black solid;
    margin-bottom: 120px;
    opacity: .9;
}
#footer_contact_page{
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: black;
}

/* CONTACT HERO SECTION */
#hero_contact_content h1{
    font-size: 60px;
    color: white;
}
#hero_contact_content{
    padding-top: 30px;
}

/* CONTACT FORM SECTION */

#form_border form{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: .75rem;
    width: 100%;
}
#form_padding{
    padding: 10px 10px;
}
#form_border h2{
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}
input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: rgb(24, 24, 24);
    background-color: #fafafa;
    border: solid;
}
input:focus, textarea:focus{
    outline: none;
    background-color: #f0f0f0;
}
#mySubmit_contact{
    background-color: #FFBF00;
}
#mySubmit_contact:hover{
    cursor: pointer;
    opacity: .6;
}
#Feedback{
    font-family: Verdana, Arial, sans-serif;
}
/* NEW PAGE STARTING */
/* LOG IN PAGE STARTING */

#wrapper_log_in{
    display: grid;
    grid-template-rows: 1fr .18fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#login_background{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image: url("images/dumbbells_auto_x2_edited.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#login_form{
    grid-row: 1/2;
    grid-column: 3/7;
    color: white;
    margin-top: 130px;
    margin-bottom: 60px;
}
#footer_log_in{
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: black;
}
#footer_log_in footer p{
    padding-bottom: 10px;
}

/* Bordered form */
#login_background h1{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#login_form form {
    border: 3px solid black;
    border-radius: 5px;
    opacity: .9;
}
  
  /* Full-width inputs */
#login_form input[type=text], #login_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
#login_form button {
    background-color: #FFBF00;
    border-radius: 5px;
    padding: 18px 22px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
#login_form button:hover {
    opacity: 0.8;
} 
/* Add padding to containers */
.container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 75px;
    padding-left: 75px;
    background-color: rgb(24, 24, 24);
}
#forgot_password a{
    color: white;
}
#forgot_password{
    text-align: left;
    padding-top: 10px;
}
#log_in_form_center{
    text-align: center;
}
#sign_up_log_in a{
    background-color: #f1f1f1;
    text-decoration: none;
    font-size: small;
    color: black;
    border-radius: 5px;
    padding: 18px 22px;
    display:block;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
#sign_up_log_in a:hover{
    opacity: 0.8;
}
/* NEW PAGE STARTING */
/* SIGN UP PAGE STARTING */

#wrapper_sign_up{
    display: grid;
    grid-template-rows: .1fr .7fr .7fr .95fr 1.3fr 1.6fr .5fr .2fr .5fr .05fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
#nav_wm{
    grid-row: 1/2;
    grid-column: 4/8;
    font-size: 20px;
    padding-top: 10px;
}
#sign_white_background{
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: white;
}
#lead_section{
    grid-row: 2/3;
    grid-column: 2/8;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 200%;
}
#sign_up_transformation{
    grid-row: 3/4;
    grid-column: 3/7;
    padding-top: 30px;
    padding-bottom: 30px;
}
#smokewhite{
    grid-row: 4/5;
    grid-column: 1/-1;
    background-color: whitesmoke;
}
#sign_up_meet{
    grid-row: 4/5;
    grid-column: 2/8;
    padding-top: 30px;
    padding-bottom: 20px;
}
#what_you_get_white{
    grid-row: 5/6;
    grid-column: 1/-1;
    background-color: white;
}
#what_you_get{
    padding-top: 30px;
    grid-row: 5/6;
    grid-column: 2/8;
}
#testimonials_whitesmoke{
    grid-row: 6/7;
    grid-column: 1/-1;
    background-color: whitesmoke;
}
#testimonials{
    padding-top: 30px;
    grid-row: 6/7;
    grid-column: 2/8;
    padding-bottom: 20px;
}
#benefits{
    padding-top: 30px;
    grid-row: 7/8;
    grid-column: 2/8;
    padding-bottom: 20px;
}
#white_sign_up{
    grid-row: 8/12;
    grid-column: 1/-1;
    background-color: white;
}
#sign_up{
    grid-row: 8/9;
    grid-column: 2/8;
    margin-top: 30px;
    text-align: center;
}
#shred_plan{
    grid-row: 9/10;
    grid-column: 2/5;
    padding-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
#bulk_plan{
    grid-row: 9/10;
    grid-column: 5/8;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
#footer_sign_up{
    grid-row: 10/11;
    grid-column: 1/-1;
   
}
.slide_sign_up{
    height: 450px;
}
#logo_sign{
    height: 75px;
    width: 75px;
    margin-left: 50%;
}
.training_button a{
    background-color: darkred;
    border: 2px solid #FFBF00;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    display:block;
    text-align: center;
    margin-top: 20px;
    margin-left: 350px; 
    margin-right: 350px;
    transition: background-color .5s;
}
.training_button a:hover{
    background-color: #FFBF00;
}
#footer_sign_up p{
    color: black;
    padding-bottom: 15px;
}
/*#sign_up_transformation_flex{
    display: flex;
    flex-flow: row nowrap;
}*/
.center_size{
    text-align: center;
    font-size: 40px;
}
#sign_up_meet h1{
    font-size: 40px;
}
/* SIGN UP SALES SECTION */
#christian_float{
    display: flex;
    flex-flow: row nowrap;
    float: right;
    margin-left: 20px;
}
#sign_up_meet p{
    line-height: 175%;
}

/* WHAT YOU GET SECTION */

#what_you_get p{
    padding-left: 40px;
    line-height: 175%;
}

/* TESTIMONIALS */

#float_calvin{
    margin-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    float: right;
    margin-left: 60px;
}
#calvin_section{
    margin-top: 90px;
}
#testimonials p{
    line-height: 175%;
}
.float_other{
    margin-top: 30px;
    clear: right;
    display: flex;
    flex-flow: row nowrap;
    float: right;
    margin-left: 60px;
}
.other_section{
    padding-top: 190px;
}
.test_size{
    height: 325px;
}
.christian_size_sign{
    height: 350px;
    width: 250px; 
}



/* BENEFITS SECTION */

#benefits_box{
    color: white;
    margin-top: 30px;
    float: left;
}

#benefits_box li{
    margin-left: 50px;
    line-height: 250%;
}
/* SIGN UP CLASSES */
.sign_up_container{
    border: 1px solid #ccc;
    text-align: center;
    background-color: rgb(43, 43, 43);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
} 
/* BASE PLAN SECTION */
.sign_up_container ul{
    display: inline-block;
} 
.sign_up_container li{
    color: #FFBF00;
    line-height: 175%;
}
.sign_up_container li span{
    color: white;
}
 /* SLIDESHOW FOR SIGN UP */
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* NEW PAGE */
/* SIGNING UP PAGE */

#wrapper_signing_up{
    display: grid;
    grid-template-rows: 1fr .18fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
#signing_up_background{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-image: url("images/deadlift2.jpg");
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#sign_up_form{
    grid-row: 1/2;
    grid-column: 3/7;
    margin-bottom: 20px;
}
/* Bordered form */
#sign_up_form h1{
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
}
#sign_up_form form {
    border: 3px solid black;
    border-radius: 5px;
    opacity: .9;
    color: white;
}
  
/* Full-width inputs */
#sign_up_form input[type=text], #sign_up_form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Set a style for all buttons */
#sign_up_form #submit_button {
    background-color: #FFBF00;
    border-radius: 5px;
    padding: 18px 22px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
  /* Add a hover effect for buttons */
#sign_up_form #submit_button:hover {
    opacity: 0.8;
} 
#footer_sign_in{
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: black;
}

/* NEW PAGE */
/* LOGGED IN SHRED PAGE */

#logged_in_nav{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}

#wrapper_logged_in_shred{
    display: grid;
    grid-template-rows: .2fr .35fr .2fr .5fr .5fr 120px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
#logged_in_background_shred{
    grid-row: 1/6;
    grid-column: 1/-1;
    background-color: white;
}
#welcome_shred{
    grid-row: 1/2;
    grid-column: 3/7;
    margin-top: 20px;
    margin-bottom: 30px;
}
#button_section_shred{
    grid-row: 2/3;
    grid-column: 2/8;
    padding-bottom: 50px;
}
#workoutsAccomplishedHeader{
    grid-row: 3/4;
    grid-column: 2/8;
    text-align: center;
    margin-bottom: 10px;
}
#workoutsAccomplishedChestShred{
    grid-row: 4/5;
    grid-column: 2/3;
    text-align: center;
}
#workoutsAccomplishedBackShred{
    grid-row: 4/5;
    grid-column: 3/4;
    text-align: center;
}
#workoutsAccomplishedArmsShred{
    grid-row: 4/5;
    grid-column: 6/7;
    text-align: center;
}
#workoutsAccomplishedShouldersShred{
    grid-row: 4/5;
    grid-column: 4/6;
    text-align: center;
}
#workoutsAccomplishedLegsShred{
    grid-row: 4/5;
    grid-column: 7/8;
    text-align: center;
}
#motivation_shred{
    grid-row: 5/6;
    grid-column: 2/4;
    margin-bottom: 30px;
}
#progress_shred{
    grid-row: 5/6;
    grid-column: 4/8;
    margin-bottom: 30px;
    position: relative;
}
#footer_logged_in_shred{
    grid-row: 6/7;
    grid-column: 1/-1;
    margin-top: 20px;
}
.workoutsAccomplishedSubset{
    /* margin-left: 50px;
    margin-right: 50px; */
    font-weight: bold;
    font-size: 30px;
}
#hamstring_button{
    margin-top: 20px;
    background-color: #FFBF00;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}
#hamstring_button:hover{
    opacity: .8;
}
#hamstring_button a{
    text-decoration: none;
    color: black;
}
#quad_button a{
    text-decoration: none;
    color: black;
}
#quad_button:hover{
    opacity: .8;
}
#quad_button{
    margin-top: 20px;
    background-color: #FFBF00;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    margin-left: 30px;
}
.logged_options_gap{
    display: flex;
    flex-flow: row nowrap;
    gap: 160px;
    margin-left: 21.5%;
}

/* NEW PAGE */
/* LOGGED IN BULK PAGE */

#wrapper_logged_in{
    display: grid;
    grid-template-rows: .2fr .35fr .5fr .006fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
#logged_in_nav_bulk{
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
#nav_wm_logged{
    grid-row: 1/2;
    grid-column: 3/7;
    font-size: 20px;
    padding-top: 10px;
}
.logout_nav{
    grid-row: 1/2;
    grid-column: 7/8;
}
#logged_in_background{
    grid-row: 1/4;
    grid-column: 1/-1;
    background-color: white;
}
#welcome{
    grid-row: 1/2;
    grid-column: 3/7;
    margin-top: 20px;
    margin-bottom: 30px;
}
#button_section{
    grid-row: 2/3;
    grid-column: 2/8;
    padding-bottom: 70px;
}
#motivation{
    grid-row: 3/4;
    grid-column: 2/4;
    margin-bottom: 30px;
}
#progress{
    grid-row: 3/4;
    grid-column: 4/8;
    margin-bottom: 30px;
    position: relative;
}
#footer_logged_in{
    grid-row: 4/5;
    grid-column: 1/-1;
    margin-top: 20px;
}
#welcome_user{
    text-align: center;
}
.logout{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #FFBF00;
    font-size: medium;
    color: white;
}
.logout:hover{
    cursor: pointer;
}
.logged_options{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.logged_buttons a{
    text-decoration: none;
    color: black;
}
.logged_shred_buttons a{
    text-decoration: none;
    color: black;
}
.legs_button a{
    text-decoration: none;
    color: black;
}
#push2 a{
    text-decoration: none;
    color: black;
}
#pull2 a{
    text-decoration: none;
    color: black;
}
#push_shoulders a{
    text-decoration: none;
    color: black;
}
.logged_options_2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 30px;
}
.logged_buttons{
    background-color: #FFBF00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
.logged_shred_buttons{
    background-color: #FFBF00;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
#push2{
    background-color: #FFBF00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 47px;
    padding-left: 47px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
#pull2{
    background-color: #FFBF00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
#push_shoulders{
    background-color: #FFBF00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
.logged_buttons:hover{
    opacity: .8;
}
.logged_shred_buttons:hover{
    opacity: .8;
}
.legs_button:hover{
    opacity: .8;
}
#push2:hover{
    opacity: .8;
}
#pull2:hover{
    opacity: .8;
}
#push_shoulders:hover{
    opacity: .8;
}
.logged_center_button{
    text-align: center;
    padding-bottom: 10px;
}
.legs_button{
    background-color: #FFBF00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    text-align: center;
}
#split_padding{
    margin-top: 20px;
    margin-bottom: 30px;
}
#button_section p{
    line-height: 125%;
}

/*.video_box{
    text-align: center;
    background-color: rgb(24, 24, 24);
    opacity: .8;
    color: white;
    margin-bottom: 15px;
    padding: 5px;
    height: auto;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
}*/
#wrapper_logged_in p{
    line-height: 175%;
}
.progress_image{
    background: #222;
    background-size: cover;
    background-position: left;
    max-width: 340px;
    height: 500px;
    position: relative;
    width: 50%;
    float: left;
    margin: 5px;
}
.upload_icon{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.upload_button{
    background-color: white;
    padding: 15px;
    border-radius: 20px;  
}
.upload_button:hover{
    opacity: 80%;
}
.photo_descrip{
    position: absolute;
    text-align: center;
    bottom: 25px;
    margin-left: 20%;
    color: white;
}
/* NEW PAGE */
/* PUSH 1 PAGE */
#wrapper_push_1{
    display: grid;
    grid-template-rows: .07fr auto .01fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
    /* background-color: #404040; */
}
#push_1_background{
    grid-row: 1/8;
    grid-column: 1/-1;
    /* background-color: rgb(24, 24, 24); */

    background-color: white;
}
#welcome_push_1{
    grid-row: 1/2;
    grid-column: 2/8;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    /* color: white; */
}
#push_1_warm_up{
    grid-row: 2/3;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_1_1st_press{
    grid-row: 3/4;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_1_2nd_press{
    grid-row: 4/5;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_1_flies{
    grid-row: 5/6;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_1_triceps{
    grid-row: 6/7;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_1_shoulders{
    grid-row: 7/8;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#footer_push_1{
    grid-row: 8/9;
    grid-column: 1/-1;
}
#push_2_aux{
    grid-row: 5/6;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#push_2_flies{
    grid-row: 6/7;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#footer_push_2{
    grid-row: 8/9;
    grid-column: 1/-1;
    background-color: rgb(24, 24, 24);
}

.push_flex_grid{
    display: flex;
    flex-flow: row nowrap;
}
/* #chest_warm_up_spacing{
    grid-row: 3/4;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
} */
#black{
    width: 200px;
    height: 200px;
    background-color: black;
    margin-right: 5px;
    margin-left: 5px;
}
#red{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-left: 5px;
}
#blue{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-right: 5px;
    margin-left: 5px;
}

.push_flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.center_font{
    text-align: center;
    font-size: 40px;
}
.push_container{
    /*width: 500px;*/
    width: 100%;
    /*new*/
    color: white;
    background-color: #404040;
    /*background-color: rgb(24, 24, 24);*/
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 15%);;
    margin-left: 20px;
    position: relative;
}
.vid_margin{
    margin-left: 10px;
}
.push_buttons{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #FFBF00;
    border-radius: 50px;
}
.push_buttons_press{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 200px;
    background-color: #FFBF00;
    border-radius: 50px;
}
.push_buttons:hover{
    cursor: pointer;
    opacity: .7;
}
.push_buttons_press:hover{
    cursor: pointer;
    opacity: .7;
}
.vid_size{
    height: 300px;
    width: 500px;
    border-radius: 30px;
}
.press_grid{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: .5fr .5fr;
    column-gap: 30px
}
.left_grid{
    grid-column: 1/2;

}
.right_grid{
    grid-column: 2/3; 

}
.press_grid_functional{
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: .5fr .5fr .5fr;
    column-gap: 30px
}
.left_grid_functional{
    grid-column: 1/2;
}
.middle_grid_functional{
    grid-column: 2/3; 
}
.right_grid_functional{
    grid-column: 3/4; 

}
.intesifier_spacing{
    margin-left: 27%;
    padding-top: 20px;
}
.li_pushed{
    line-height: 150%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.back_button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #FFBF00;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.back_button:hover{
    cursor: pointer;
    opacity: .7;
}
#p_warmup{
    font-size: large;
    margin-bottom: 10px;
}
#p_presses{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
#p_presses_confirm{
    display: none;
}
/* #hr_yellow_confirm{
    display: none;
} */
/* #press_second_header_confirm{
    display: none;
} */
#p_second_presses_confirm{
    display: none;
}
/* #hr_yellow_confirm_second{
    display: none;
} */
#p_second_fly_confirm{
    display: none;
}
#p_second_tricep_confirm{
    display: none;
}
#confirm_tricep{
    display: none;
}
#confirm_shoulder{
    display: none;
}
/* #confirm_shoulder_two{
    display: none;
} */
/* #shoulder_second_header_confirm{
    display: none;
} */
#p_second_shoulder_confirm{
    display: none;
}
/* #second_shoulder_ul_confirm{
    display: none;
} */
/* #hr_yellow_confirm_shoulder{
    display: none;
} */
#confirm_pullover{
    display: none;
}
#confirm_pullover_two{
    display: none;
}
#pullover_second_header_confirm{
    display: none;
}
#p_second_pullover_confirm{
    display: none;
}
#second_pullover_ul_confirm{
    display: none;
}
/* #hr_yellow_confirm_pullover{
    display: none;
} */
#confirm_shoulder{
    display: none;
}
#confirm_biceps{
    display: none;
}
#biceps_second_header_confirm{
    display: none;
}
#p_second_biceps_confirm{
    display: none;
}
/* #hr_yellow_confirm_biceps{
    display: none;
} */
#second_biceps_ul_confirm{
    display: none;
}
#warmup_header_confirm{
    display: none;
}
#hr_warmup_confirm{
    display: none;
}
#p_warmup_confirm{
    display: none;
}
#warmup_ul_confirm{
    display: none;
}
#biceps_second_header_confirm{
    display: none;
}
/* #hr_yellow_confirm_biceps{
    display: none;
} */
#p_second_biceps_confirm{
    display: none;
}
#second_biceps_ul_confirm{
    display: none;
}
#confirm_biceps_two{
    display: none;
}
.confirm_p_size{
    font-size: 20px;
    font-weight: bold;
}
.intesifier{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #FFBF00;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.intesifier:hover{
    cursor: pointer;
    opacity: .7;
}
.unilateral{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #FFBF00;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.unilateral:hover{
    cursor: pointer;
    opacity: .7;
}
.pause{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px;
    background-color: #FFBF00;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.pause:hover{
    cursor: pointer;
    opacity: .7;
}
#second_p_presses{
    font-size: large;
    margin-bottom: 10px;
}

#unilateral_press{
    display: none;
}


/*  */
#unilateral_press{
    display: none;
}
#p_fly{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#rest_press_fly{
    display: none;
}
/* #push_fly_superset_div{
    display: none;
} */
/* #superset_back_fly_button{
    display: none;
} */
/* #pushed_fly_superset_div{
    display: none;
} */

/*  */

#negatives_biceps{
    display: none;
}
/* #negatives_shoulder{
    display: none;
} */
/*  */
/*triceps*/
#drop_angle_tricep{
    display: none;
}
#p_tricep{
    font-size: large;
    margin-bottom: 10px;
}
/* 
WORKOUT CSS
*/
/* NEW SECTION */
/* SHOULDER MAX PAGE */
.wrapperShoulderMax{
    display: grid;
    grid-template-rows: 1fr 150px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    /* background-color: rgb(24, 24, 24);  */
}
.shoulderMaxPage{
    grid-row: 1/2;
    grid-column:3/8;
    color: white;
}
.shoulderMaxFooter{
    grid-row: 2/3;
    grid-column:1/-1;
    background-color: rgb(24, 24, 24);
}
.form_border{
    color: white;
    background-color: rgb(24, 24, 24);
    /* background-color: rgb(51, 51, 51); */
    border: black solid;
    margin-bottom: 120px;
    opacity: .9;
    margin-top: 30px;
    border-radius: 5px;

}
.form_border_two{
    color: white;
    background-color: rgb(51, 51, 51);
    border: black solid;
    margin-bottom: 120px;
    opacity: .9;
    margin-top: 30px;
    border-radius: 5px;

}
.form_border_two .form{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: .75rem;
    width: 100%;
}
.form_border .form{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: .75rem;
    width: 100%;
}
.form_padding{
    padding: 10px 10px;
}
.form_border h2{
    color: white;
    font-size: 30px;
    padding-bottom: 30px;
}
input, textarea{
    font-size: 1rem;
    padding: 10px;
    color: rgb(24, 24, 24);
    background-color: #fafafa;
    border: solid;
    border-radius: 5px;
    font-family: Arial, sans-serif;

}
input:focus, textarea:focus{
    outline: none;
    background-color: #f0f0f0;
}
.addMeal{
    margin-top: 20px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    /* background-color: rgb(24, 24, 24);  */
    background-color: #FFBF00;
    /* background-color: rgb(51, 51, 51); */
    color: white;
    text-decoration: none;
    width: 40%;
}
.addMeal:hover{
    opacity: 85%;
    cursor: pointer;
}
/* NEW SECTION */
/* MEAL PAGE */
.wrapperMaxWorkouts{
    display: grid;
    grid-template-rows: 1fr 1.5fr 150px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24); 
}
.shoulderMaxBackground{
    grid-row: 1/3;
    grid-column:1/-1;
    background-color: white;
}
.shoulderMaxSection{
    grid-row: 1/2;
    grid-column:2/8;
    background-color: white;
    color: white;
    margin-bottom: 20px;
}
.chestMaxSection{
    grid-row: 2/3;
    grid-column:2/8;
    background-color: white;
    color: white;
    margin-bottom: 20px;
}
.workoutMaxFooter{
    grid-row: 3/4;
    grid-column:1/-1;
    background-color: rgb(24, 24, 24); 
}
.maxContainer{
    margin-top: 40px;
    color: white;
    background-color: rgb(51, 51, 51);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 20px;
    border: 2px solid black;
    /*box-shadow: 0 2px 5px rgb(0 0 0 / 30%);*/
    box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 15%);;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-flow: column;
    position: relative;
    text-align: center;
}
.workoutSelect{
    margin-top: 20px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    background-color: rgb(24, 24, 24); 
    color: white;
    text-decoration: none;
}
.workoutSelect:hover{
    opacity: 85%;
    cursor: pointer;
}
.workoutSelect:hover{
    opacity: 85%;
    cursor: pointer;
}
.shoulderMaxHOne{
    color: black;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
.progressHOne{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 15px;
}
/* NEW PAGE */
/* CHEST PAGE */

#wrapper_chest{
    display: grid;
    grid-template-rows: .1fr auto .01fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
#chest_background{
    grid-row: 1/9;
    grid-column: 1/-1;
    background-color: white;
}
#welcome_chest{
    grid-row: 1/2;
    grid-column: 2/8;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
#chest_warm_up{
    grid-row: 2/3;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_1st_press{
    grid-row: 3/4;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_1st_fly{
    grid-row: 4/5;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_second_press{
    grid-row: 5/6;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_second_fly{
    grid-row: 6/7;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_second_triceps{
    grid-row: 7/8;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
}
#chest_confirmation{
    grid-row: 8/9;
    grid-column: 2/8;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}
#footer_chest{
    grid-row: 9/10;
    grid-column: 1/-1;
}
#endOfChestWorkout{
    margin-left: auto;
    margin-right: auto;
}
.accomplishedWorkout{
    margin-bottom: 10px;
    margin-top: 10px;
}
.accomplishedWorkoutDetails{
    margin-bottom: 10px;
    margin-top: 10px;
}
/*  
SHRED WORKOUT DATA PAGE
*/
.wrapperShredWorkoutData{
    display: grid;
    grid-template-rows: .1fr auto auto .01fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
.shredWorkoutBackground{
    grid-row: 1/3;
    grid-column: 1/-1;
    background-color: white;
}
.chestShredContainer{
    grid-row: 1/2;
    grid-column:2/8;
    background-color: white;
    color: white;
    margin-bottom: 20px;
}
.progressReport{
    grid-row: 2/3;
    grid-column:4/6;
    text-align: center;
}
.workoutShredFooter{
    grid-row: 3/4;
    grid-column:1/-1;
    background-color: rgb(24, 24, 24); 
}
/* 
CHEST PROGRESS PAGE
 */
 .wrapperChestProgress{
    display: grid;
    grid-template-rows: .1fr auto .01fr;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    background-color: rgb(24, 24, 24);
}
.chestProgressBackground{
    grid-row: 1/3;
    grid-column: 1/-1;
    background-color: white;
}
.chestProgressContainer{
    grid-row: 1/2;
    grid-column:2/8;
    background-color: white;
    /* color: white; */
    margin-bottom: 20px;
    text-align: center;
}
.workoutProgressFooter{
    grid-row: 2/3;
    grid-column:1/-1;
    background-color: rgb(24, 24, 24); 
}
  